---
  swarmurl: objectstore.local.net
  tsbucket: fragments
  sourcebucket: media
  redishost: localhost
  beanstalkhost:
    - webapp1.local.net:11300
    - webapp2.local.net:11300
  beanstalkqueue: prd
