---
  redishost: localhost
  beanstalkhost:
      - app.example.org:11300
  url: assets.example.org
  sourcebucket: video
  mpegts: 
      queue: mpegts
      bucket: fragments
  peak:
      queue: peak
      bucket: json
      user: username
      password:  secret
